@import 'reset';
@import 'variables';

body {
  background-color: $bacgroundColor;

  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }

  h2,
  h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 200%;
  }
}

.app {
  h1 {
    color: $lightDiv;
    margin: 35px;
    font-size: 55px;
    text-align: center;
    letter-spacing: 10px;

    @media (min-width: 1001px) and (max-width: 1300px) {
      font-size: 45px;
    }

    @media (min-width: 741px) and (max-width: 1000px) {
      margin: 50px 60px 100px;
      font-size: 35px;
      text-align: left;
      letter-spacing: 8px;
    }

    @media (min-width: 521px) and (max-width: 740px) {
      margin: 55px 60px 100px;
      font-size: 25px;
      text-align: left;
      letter-spacing: 6px;
    }

    @media (max-width: 520px) {
      margin: 45px 40px 100px;
      font-size: 15px;
      text-align: left;
      letter-spacing: 4px;
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35px;

    .left-side,
    .middle {
      .text {
        width: 360px;
        min-height: 520px;
        padding: 25px 35px;

        @media (max-width: 400px) {
          width: 100%;
        }

        h3 {
          width: 150px;
          color: $headerC;
          letter-spacing: 2px;
          line-height: 200%;
        }

        h3:nth-child(2) {
          letter-spacing: 0;
          margin-bottom: 20px;
        }
      }
    }

    .left-side {
      margin: 35px 37px 0 35px;
      
      .text {
        color: $lightDiv;
        background-color: $darkDiv;
      }
    }
    
    .middle {
      margin: 35px 37px 0;

      .text {
        color: $darkDiv;
        background-color: $lightDiv;
        
        p::first-letter {
          padding-left: 5px;
        }
      }
    }

    .right-side {
      margin: 35px 35px 0;

      .text {
        width: 360px;
        max-width: 360px;
        min-height: 520px;
        background-color: $darkDiv;
        position: relative;

        @media (max-width: 400px) {
          width: 100%;
        }

        h3 {
          color: $headerC;
          letter-spacing: 2px;
          position: absolute;
          bottom: 35px;
          left: 35px;
        }

        .icon-con {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          
          .icon {
            color: $lightDiv;
            font-size: 140px;
            border: 2px solid $lightDiv;
            border-radius: 50%;
            margin: 0 0 60px;
          }
        }
      }
    }
  }
}